* { -webkit-tap-highlight-color: rgba(0,0,0,0); }
html, body, .wrap { width: 1024px; height: 768px; margin: 0px; position: relative; }
.wrap { }
.bg{width: 100%; height: 711px; position: absolute; top: 0; z-index: 1;background: #cdf3f6;}
.header { width: 1024px; height: 103px; background-color: #04c1d4; background-image: url(../images/header_flower.png); background-repeat: no-repeat; background-position: center left; position: relative; z-index: 9999; }
.content { width: 100%; /*height: 608px;*/height: 711px; overflow: hidden; /*top: 103px;*/top: 0;}
.slide { width: 1024px; height: 608px; display: none; z-index: 9000; position: absolute; }
.slideholder { display: none; width: 1024px; height: 608px; position: fixed; top: 103px; z-index: 10;}
.footer { width: 1024px; height: 57px; background-color: #005696; position: relative; z-index: 9999; position: fixed; bottom: 0px; }
#rnb{position: absolute; width: 85px; height: 45px; right: 60px; bottom: 30px;}
#why_1{background-image:  url(../../res/images/why-landing.png)}
#about_1{background-image:  url(../../res/images/about-landing.png)}
#acces_1{background-image:  url(../../res/images/access-landing.png)}
#access_3{background-image:  url(../../res/images/map-landing-alt.png)}
#dosing_1{background-image:  url(../../res/images/dosing-landing.png)}
.popup-wrapper{
	width: 940px;
	height: 680px;
	background: rgba(205,243,246,0.9);
	top: 50px;
	left: 40px;
	border: 2px solid #04c1d4;
	position: absolute;
	z-index: 0;
	/*z-index: 99990;*/
/*	display: none;*/
}
.small-popup-wrapper{
	width: auto;
	height: auto;
	background: #fff;
	border: 2px solid #04c1d4;
	position: absolute;
	z-index: 0;
}
.close-popup{
	position: absolute;
	top: 25px;
	right: 25px;
}
#wrapper1, #wrapper2, #wrapper3, #wrapper4{
	position: relative;
	overflow: hidden;
	height: 455px;
	z-index: 99994;
	/* Prevent native touch events on Windows */
	-ms-touch-action: none;

	/* Prevent the callout on tap-hold and text selection */
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

	/* Prevent text resize on orientation change, useful for web-apps */
	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	-ms-text-size-adjust: none;
	-o-text-size-adjust: none;
	text-size-adjust: none;
}
.scroller{
	position: absolute;
	z-index: 99995;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	-ms-text-size-adjust: none;
	-o-text-size-adjust: none;
	text-size-adjust: none;
}
.overlay-image{
	display: none;
}
.map{
	position: relative;
}
.active#bc{
	background: url(../../res/images/map-bc-tap.png)!important;
}
.active#ab{
	background: url(../../res/images/map-ab-tap.png)!important;
}
.active#sk{
	background: url(../../res/images/map-sk-tap.png)!important;
}
.active#mb{
	background: url(../../res/images/map-mb-tap.png)!important;
}
.active#on{
	background: url(../../res/images/map-on-tap.png)!important;
}
.active#nb{
	background: url(../../res/images/map-nb-tap.png)!important;
}
.active#ns{
	background: url(../../res/images/map-ns-tap.png)!important;
}
.active#pei{
	background: url(../../res/images/map-pei-tap.png)!important;
}
.active#nl{
	background: url(../../res/images/map-nl-tap.png)!important;
}
.active#qc{
	background: url(../../res/images/map-qc-tap.png)!important;
}
.thumbslide {
position: absolute;
left: 0;
bottom: 0;
width: 1024px;
height: 179px;
border-top: 1px solid #9aa9b3;
background: #496070;
color: #fff;
z-index:0;
/*-webkit-transform: translate3d(0, 0, 0);
-webkit-transition: bottom 200ms linear 50ms;*/
}
.thumbslide.active{
	z-index: 99999
}
.thumbslide .hidebtn {
	position: absolute;
	top: 0;
	left: 0;
	background: url(../../res/images/button-nav-x.jpg) center top no-repeat;
	background-size: 23px 22px;
	height: 22px;
	width: 23px;
}
.thumbscroller_holder{
	position: relative;
margin-top: 13px;
margin-left: 50px;
width: 969px;
overflow: hidden;
white-space: nowrap;
}
.thumbslide .thumb {
display: inline-block;
float: left;
margin-right: 8px;
width: 169px;
height: 145px;
background-size: 169px;
background-repeat: no-repeat;
background-position: center top;
color: #fff;
text-decoration: none;
position: relative;
}
.thumbslide .thumb span.label {
font-size: 11px;
font-family: HelveticaNeue, Arial;
display: block;
width: 100%;
position: absolute;
bottom: 1px;
left: 0;
text-align: center;
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
color: #abc3d3;
}
.thumbslide .thumb a {
display: block;
width: 100%;
height: 100%;
position: absolute;
top: 0;
left: 0;
}
#indicator {
	position: relative;
	width: 110px;
	height: 20px;
	margin: 10px auto;
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAUBAMAAABohZD3AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3QUGCDYztyDUJgAAAB1pVFh0Q29tbWVudAAAAAAAQ3JlYXRlZCB3aXRoIEdJTVBkLmUHAAAAGFBMVEUAAADNzc3Nzc3Nzc3Nzc3Nzc3Nzc3///8aWwwLAAAABnRSTlMAX5Ks3/nRD0HIAAAAAWJLR0QHFmGI6wAAAFtJREFUGFdjYGBgEHYNMWRAAJE0IHCEc5nSwEABxleD8JOgXMY0KBCA8FlgfAcIXwzGT4TwzWD8ZAjfDcZPgfDDYPxU7Hx09ejmoduH7h5096L7B8O/6OGBGl4APYg8TQ0XAScAAAAASUVORK5CYII=);
}
.iScrollVerticalScrollbar {
    width: 25px!important;
    position: absolute;
z-index: 9999;
top:2px;
right: 2px;
overflow: hidden;
background: #04c1d4; 
height: 100%;
}
 
.iScrollIndicator {
    border-radius: 0!important;
    background: #82e0ea!important; 
    border: 0!important;
}
